<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Integration">
            <directory>./tests/Integration/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src/</directory>
        </whitelist>
    </filter>
</phpunit>
