<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Autoload.php" colors="true">
    <testsuites>
        <testsuite name="Integration">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./Src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="junit" target="Build/logs/junit.xml" logIncompleteSkipped="false" />
    </logging>
</phpunit>
