<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Local">
            <directory>./Tests/Local/</directory>
        </testsuite>
        <testsuite name="Ftp">
            <directory>./Tests/Ftp/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="build/coverage" title="Molajo-Filesystem" charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70" />
        <log type="coverage-clover" target=".././.dev/Logs/clover.xml" />
        <log type="junit" target=".././.dev/Logs/junit.xml" logIncompleteSkipped="false" />
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">.././</directory>
            <exclude>
                <directory suffix=".php">.././.dev</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
