/* --------------------------------------------------
   Misc CSS needed sitewide
-----------------------------------------------------

/* -----------------------------------------
   Gravatar
----------------------------------------- */
.gravatar {
    background-color: #F9F9F9;
    border: 1px solid #CCCCCC;
    padding: 3px;
}

nav.pagination {
    clear: both;
    width: 100%
}

/* -----------------------------------------
   Fight spam - form field not visible
----------------------------------------- */
div.catch {
    display: none
}
